<h1> Assignment :</h1> <h2> Create a Data base Movie and tables for store the lead actor, actress, year of release and the director name</h2>

<h3> Applicant Name : Rohit Y. Mungase </h3>

In [1]:
import mysql.connector                      # importing mysql connector

In [2]:
                                            #conection creation
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Rohit@123"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000218119228E0>

In [4]:
                                                 #Show databases in system
                                                 # Initially i show which database are exit in system
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('demo',)
('examform',)
('information_schema',)
('joindb',)
('movies_ratings',)
('mysql',)
('onlineexam',)
('performance_schema',)
('register',)
('revise',)
('sakila',)
('sys',)
('world',)

<h1 align="center">Creating Database : Movie </h1>

In [5]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE Movie")

In [6]:
#Show databases in system
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")                        #Here  Movie database is created

for x in mycursor:
    print(x)

('demo',)
('examform',)
('information_schema',)
('joindb',)
('movie',)
('movies_ratings',)
('mysql',)
('onlineexam',)
('performance_schema',)
('register',)
('revise',)
('sakila',)
('sys',)
('world',)

<h1 align="center">Connect to Database </h1>

In [8]:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Rohit@123",
  database="Movie"
)

<h1 align="center">Creating table Movie </h1>

In [18]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Movie (id INT AUTO_INCREMENT PRIMARY KEY, MovieName VARCHAR(255), leadActorName VARCHAR(255), Actress VARCHAR(255), DirectorName VARCHAR(255),  YearOfRelease_id INT )")

<h1 align="center">Show table Movie</h1>

In [19]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('movie',)

<h1 align="center"> Insert Data into table Movie </h1>

In [21]:
mycursor = mydb.cursor()

sql = "INSERT INTO Movie (MovieName, leadActorName, Actress, DirectorName, YearOfRelease_id) VALUES (%s, %s, %s, %s, %s)"
val = ("Sanju","Ranbir Kapoor", "Anushka Sharma,Sonam Kapoor,Dia Mirza","Rajkumar Hirani","2018")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

<h1 align="center">Inserted another record i.e new movie with its information data </h1>

In [24]:
mycursor = mydb.cursor()

sql = "INSERT INTO Movie (MovieName, leadActorName, Actress, DirectorName, YearOfRelease_id) VALUES (%s, %s, %s, %s, %s)"
val = ("3 idiots", "Aamir Khan", "Kareena Kapoor,Boman Irani,John Abraham,Sharman Joshi,etc","Rajkumar Hirani","2009")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

<h1 align="center">Display inserted Data in Table using "SELECT statement" </h1>

In [25]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Movie")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Sanju', 'Ranbir Kapoor', 'Anushka Sharma,Sonam Kapoor,Dia Mirza', 'Rajkumar Hirani', 2018)
(2, '3 idiots', 'Aamir Khan', 'Kareena Kapoor,Boman Irani,John Abraham,Sharman Joshi,etc', 'Rajkumar Hirani', 2009)

<h2 align="center">Select movie name and its all the charaters details using SELECT and WHERE command </h2>

In [26]:

mycursor = mydb.cursor()

sql = "SELECT * FROM Movie WHERE MovieName ='Sanju'"              

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Sanju', 'Ranbir Kapoor', 'Anushka Sharma,Sonam Kapoor,Dia Mirza', 'Rajkumar Hirani', 2018)